@font-face {
    font-family: "Lemon Milk";
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Bold.otf");
}

body{
    overflow-x: hidden;
    background-color: #787691;
    margin: auto;
}
.quienes-somos{
    color: #201E59;
    text-align: center;
    font-size: 2.5em;
}
.parrafo-ppal{
    font-family: "Lemon Milk";
    font-weight: 500;
    line-height: 1.5;
    font-style: italic;
    font-size: 2em;
}
.animate{
    font-family: "Lemon Milk";
    font-weight: 800;
    text-align: center;
    color: #38358C;
    font-size: 2em;
}
header{
    background-color: #d467a3;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
header div a img{
    width: 120px;
    height: 90px;
    padding: 5px;
}
header nav{
    display: flex;
    flex-flow: row wrap;
    padding: 0.7em;
}
header nav ul{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
header nav ul li{
    list-style-type: none;
    margin-right: 10px;
    display: flex;
    flex-flow: row wrap;
}
header nav ul li a{
    font-family: "Lemon Milk";
    font-size: 1em;
    text-decoration: none;
    color: #1b1958;
}
.img-fondo{
    background-image: url("../assets/img/LOGO\ MF\ PNG\ COLOR.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 55vh;
}
h1{
    font-family: "Lemon Milk";
    font-size: 2em;
    font-weight: 900;
    font-style: italic;
    color: #1b1958;
    text-align: center;
}
section h1{
    font-family: "Lemon Milk";
    font-size: 2em;
    font-weight: 900;
    font-style: italic;
    color: #1b1958;
    text-align: center;
}
section article h2{
    font-family: "Lemon Milk";
    font-size: 1.2em;
    color: #D90B7C;
    text-align: left;
    text-decoration: underline;
}
section article p{
    font-family: "Lemon Milk";
    font-size: 1em;
    text-align: left;
}
.section-contacto{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
                    "ws ig fb yt"
                    "mail mail mail mail";
    grid-row-gap: 30px;
    margin: 0 auto;
    width: 80%;
    background-color: #d467a3;
    padding: 20px;
    border: 5px solid blueviolet;
    border-radius: 2em;
}
.caja{
    text-align: center;
    display: grid;
    justify-items: center;
}
.whatsapp{
    grid-area: ws;
}
.instagram{
    grid-area: ig;
}
.facebook{
    grid-area: fb;
}
.youtube{
    grid-area: yt;
}
.email{
    grid-area: mail;
}
section ul li{
    list-style-type: none;
    font-family: "Lemon Milk";
    color: #1c1a58;
    text-align: left;
}
section ul li a{
    font-family: "Lemon Milk";
    text-decoration: none;
}
.direccion{
    display: flex;
    flex-flow: column wrap;
}
section h2{
    font-family: "Lemon Milk";
    font-size: 1.2em;
    color: #b6116c;
    text-align: center;
    text-decoration: underline;
}
section iframe{
    margin: 0 auto;
}
p{
    font-family: "Lemon Milk";
    font-size: 1.3em;
    text-align: center;
    color: #3a021c;
}
footer p{
    font-family: "Lemon Milk";
    font-size: 1em;
    color: #A6034F;
    text-align: center;
}
.section-faq{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 20px;
    margin: 0 auto;
    width: 80%;
    background-color: rgb(199, 115, 202);
    padding: 20px;
    border: 3px solid #38358C;
    border-radius: 1em;
}
.articulo{
    width: 10em;
    background-color: #38358C;
    padding: 1em 1.5em;
    margin: 0.5em 0.7em 1em 0.7em;
    border-style: solid;
    border-width: 4px;
    border-color: #A6034F;
    border-radius: 1em;
    text-align: center;
    line-height: 22px;
}
main section div{
    display: flex;
    justify-content: center;
}
.foto-portada{
    border-radius: 2em;
    padding: 1em;
    margin: 2em;
}

.galeria-horarios{
    display: grid;
    width: 100%;
    height: 100%;
}
.gal-img-uno{
    border: 2px solid #d467a3;
    border-radius: 4em;
}
.gal-img-dos{
    border: 2px solid rgb(117, 57, 173);
    border-radius: 4em;
}
.gal-img-tres{
    border: 2px solid #d467a3;
    border-radius: 4em;
}
.gal-img-cuatro{
    border: 2px solid rgb(117, 57, 173);
    border-radius: 4em;
}
.gal-img-cinco{
    border: 2px solid #d467a3;
    border-radius: 4em;
}
.gal-img-seis{
    border: 2px solid rgb(117, 57, 173);
    border-radius: 4em;
}
.gal-img-siete{
    border: 2px solid #d467a3;
    border-radius: 4em;
}
.gal-img-ocho{
    border: 2px solid rgb(117, 57, 173);
    border-radius: 4em;
}

.galeria-bosque{
    display: grid;
    width: 95%;
    margin: 0 auto;
}
.gal-bos-uno{
    border: 3px solid rgb(117, 57, 173);
}
.gal-bos-dos{
    border: 3px solid rgb(117, 57, 173);
}
.gal-bos-tres{
    border: 3px solid rgb(117, 57, 173);
}

.galeria-disney{
    display: grid;
    width: 95%;
    margin: 0 auto;
}
.gal-dis-uno{
    border: 3px solid #d467a3;
}
.gal-dis-dos{
    border: 3px solid #d467a3;
}
.gal-dis-tres{
    border: 3px solid #d467a3;
}

.galeria-cisne{
    display: grid;
    width: 95%;
    margin: 0 auto;
}
.gal-cis-uno{
    border: 3px solid rgb(117, 57, 173);
}
.gal-cis-dos{
    border: 3px solid rgb(117, 57, 173);
}
.gal-cis-tres{
    border: 3px solid rgb(117, 57, 173);
}

.galeria-circo{
    display: grid;
    width: 95%;
    margin: 0 auto;
}
.gal-cir-uno{
    border: 3px solid #d467a3;
}
.gal-cir-dos{
    border: 3px solid #d467a3;
}
.gal-cir-tres{
    border: 3px solid #d467a3;
}

.galeria-intensa{
    display: grid;
    width: 95%;
    margin: 0 auto;
}
.gal-int-uno{
    border: 3px solid rgb(117, 57, 173);
}
.gal-int-dos{
    border: 3px solid rgb(117, 57, 173);
}
.gal-int-tres{
    border: 3px solid rgb(117, 57, 173);
}

.galeria-volver{
    display: grid;
    width: 95%;
    margin: 0 auto;
}
.gal-vol-uno{
    border: 3px solid #d467a3;
}
.gal-vol-dos{
    border: 3px solid #d467a3;
}
.gal-vol-tres{
    border: 3px solid #d467a3;
}

.galeria-bailarte{
    display: grid;
    width: 95%;
    margin: 0 auto;
}
.gal-bai-uno{
    border: 3px solid rgb(117, 57, 173);
}
.gal-bai-dos{
    border: 3px solid rgb(117, 57, 173);
}
.gal-bai-tres{
    border: 3px solid rgb(117, 57, 173);
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .galeria-horarios{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        grid-row-gap: 0.3em;
        grid-column-gap: 0.3em;
        margin-left: 2em;
        margin-bottom: 1em;
    }
    .galeria-bosque{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 0.7em;
    }
    .galeria-disney{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 0.7em;
    }
    .galeria-cisne{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 0.7em;
    }
    .galeria-circo{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 0.7em;
    }
    .galeria-intensa{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 0.7em;
    }
    .galeria-volver{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 0.7em;
    }
    .galeria-bailarte{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 0.7em;
    }
}
@media screen and (min-width: 600px) and (max-width: 1023px){
    .galeria-horarios{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-row-gap: 0.3em;
        grid-column-gap: 0.3em;
        margin-left: 1em;
        margin-bottom: 0.5em;
    }
    .galeria-bosque{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0.7em;
    }
    .galeria-disney{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0.7em;
    }
    .galeria-cisne{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0.7em;
    }
    .galeria-circo{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0.7em;
    }
    .galeria-intensa{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0.7em;
    }
    .galeria-volver{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0.7em;
    }
    .galeria-bailarte{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0.7em;
    }
}
@media screen and (min-width: 1024px){
    .galeria-horarios{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 0.3em;
        grid-column-gap: 0.3em;
        margin-left: 1em;
        margin-bottom: 1em;
    }
    .galeria-bosque{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0.7em;
    }
    .galeria-disney{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0.7em;
    }
    .galeria-cisne{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0.7em;
    }
    .galeria-circo{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0.7em;
    }
    .galeria-intensa{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0.7em;
    }
    .galeria-volver{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0.7em;
    }
    .galeria-bailarte{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0.7em;
    }
}